body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--cor-verdeParallax);
}


:root{
    --cor-principal: #132623;
   /*  --gradient-terra-mar:linear-gradient(0deg,#261614 0%, rgba(19, 38, 35, 1) 100%); */
    --gradient-verde-terra:linear-gradient(0deg,#261614 0%, rgba(0, 51, 41, 1) 27%);
    --gradient-verde-terra2:linear-gradient(0deg,#261614 0%, rgba(0, 51, 41, 1) 49%);
    --gradient-terra-agua:linear-gradient(0deg,rgba(62, 110, 140, 1) 0%, rgba(0, 51, 41, 0) 25%, rgba(38, 22, 20, 1) 100%);
    --cor-letra-terra:#6c9a7f;
    --cor-letra2-terra:#01402e;
    --cor-letra3-terra:#A67153;
    --cor-letra-agua:#8ab0bf;
    --cor-agua:#3E6E8C;
    --cor-letra-fogo:#ffc64a;
    --cor-terra:#261614;
    --cor-verdeParallax:#003329;
    --cor-cardTerra:#402C28;
}


/* NAV BAR */
.header {
    position: absolute;
    top: 0;
    left:-2em;
    width: 110%;
    padding: 1.3em 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    position: fixed;
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1 ;
}

.logo img{
    width: 5em;
    height: 5em;
}

.navbar a{
    font-size: 1.4em;
    color: white;
    text-decoration: none;
    margin-left:2rem ;
    transition: .4s ease-in-out;
}

.navbar a:hover{
    color: white;
    background-color: var(--cor-letra2-terra);
    border-radius: 50px;
    padding: 0.5em 1em;
}

#check{
    display: none;
}

.icons{
    right: 5%;
    position: absolute;
    font-size: 2em;
    color: aliceblue;
    cursor: pointer;
    display: none;
}

/* NAV BAR FINAL*/

/* parallax */

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--cor-letra-agua);
}

#text {
    position: absolute;
    width: 40%;
    margin-top: 1em;
    letter-spacing: 3px;
    color: white;
    font-size: 2em;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

/*final  parallax */

/* COMEÇO ELEMENTO TERRA */
.home{
    margin-top: 5em;
    height: 100vh;
    background: var(--cor-verdeParallax);
    align-items:center;
    justify-content:space-between ;
    padding: 0 10%;
    display: flex;
}

.home-image{
    box-shadow: 0 0 20px var(--cor-letra-terra);
    display:flex ;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: var(--cor-letra-terra);
    border-radius: 50%;
    transition: .5s ease-in-out;
}

.home-image img{
    position: relative;
    bottom: 22px;
    max-width: 380px;
    border-radius: 40%;
}

.home-image:hover{
    background-color: var(--cor-letra-terra);
    margin-top: -5em;
}

.home-content{
    max-width: 600px;
    color: white;
    text-align: left;
}

.home-content h1{
    font-size: 55px;
    line-height: 1.2;
}

.home-content h3{
    font-size: 40px;
    color: white;
    -webkit-text-stroke: .5px var(--cor-letra-terra);
}

.home-content p{
    font-size: 20px;
    margin-top: -20px;   
}

.home-icons{
    margin: 25px 0 40px;
}

.home-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border:2px solid var(--cor-letra-terra);
    border-radius: 50%;
    font-size: 25px;
    color: var(--cor-letra-terra);
    text-decoration: none;
    margin-left: 12px;
    transition: .5s ease;
}

.home-icons a:hover{
    background-color: var(--cor-letra-terra);
    color:var(--cor-letra2-terra);
    box-shadow: 0 0 20px var(--cor-letra-terra);
}

.btn-cv{
   padding: 12px 35px;
   font-size: 25px;
   text-decoration: none;
   border:2px solid var(--cor-letra-terra);
   background-color: var(--cor-letra-terra);
   color: var(--cor-letra2-terra);
   border-radius: 40px;
   transition: .5s ease;
}

.btn-cv:hover{
   background-color: var(--cor-letra2-terra);
   color: var(--cor-letra-terra);
   box-shadow: 0 0 20px var(--cor-letra-terra);
}

/* CARDS */

.container4{
   
}

.card-list .card-item{
    color: var(--cor-letra-terra);
    width: 300px;
    display: flex;
    justify-content: center;
    padding: 35px;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.24);
    border-radius: 8px;
    border: 1px solid var(--cor-letra-terra);
    backdrop-filter: blur(30px);
}

.tittle h1{
    font-size:3em ;
    align-items: center;
    text-align: center;
    padding: 55px 55px;
    color:var(--cor-letra-terra);

}

.card-list .card-item h2{
    color: red;
    margin-top: 1em;
}

.card-list .card-item .image-card{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid red;
    padding: 4px;
}



/* COMEÇO ELEMENTO TERRA FINAL*/

/* PROJETOS carrossel */


/* PROJETOS carrossel final */








/* PARALLAX 2 */

.wrapper {
    width: 100%;
    margin: 0 auto;
}

/* main{
    display: block;
} */

.container4{
    width: 100%;
    max-width: 760px; /* largura máxima */
    margin: 0 auto; /* auterar a margem */
    padding: 0 15px;
    animation: surgir 5s ;
    animation-timeline: view(); /*  aparecer de acordo com a rolagem */
    animation-range: cover 0 cover 60%; /* animar ultima parte */
}

section.modulo.content{
    padding: 40px 0;
    background: var(--cor-agua) ;
}

section.modulo.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%; /* posição da imagem */
    background-repeat: no-repeat; /* n repetir imagem */
    background-size: cover; /* covrir container */
    background-attachment: fixed; /* fixar imagem no fundo */

}

section.modulo.parallax h1{
    color: var(--cor-agua);
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    z-index: 50; /* profundidade do plano */
   /*  text-shadow: 0 0 5px rgb(255, 255, 255); */
}

section.modulo.parallax:after{
    content: "";
    height: 100%;
    width: 100%;
    z-index: 8; /* sensação de profundidade */
    position: absolute;
    background: var(--gradient-terra-agua); /* degrade da imagem */
    
}

section.modulo.parallax-1{
    background-image: url(img/sun.png);
}
/* PARALLAX 2 FINAL */













/* MENU HAMBURGUER */
@media(max-width: 992px){
    .header{
        padding: 1.3rem 5%;
         left:0;
    }
}

@media(max-width: 768px){
    .icons{
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon{
        display: none;
    }

    .icons #close-icon{
        display: none;
    }

     #check:checked~.icons #close-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height:0;
        background-color: rgba(0, 0, 0, .1);
        backdrop-filter: blur(60px);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }

     #check:checked~.navbar{
         height: 17.7rem;
    }

    .navbar a{
        display: block;
        font-size: 1.5em;
        margin: 2rem 2em;
        text-align: right;
        transform: translateY(-50px);
        transition: .3s ease;
    }

      #check:checked~.navbar a{
           transform: translateY(0);
    }

}
/* MENU HAMBURGUER FINAL*/